<button type="button" title="Add Project" class="ms-auto btn btn-danger" data-bs-toggle="modal" data-bs-target="#createProjectModal">
    <i class="fa-solid fa-plus text-white"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="createProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProjectModalLabel">Add Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('project.create_project') }}" method="post">
                {{ project_creation_form.hidden_tag() }}
                <div class="modal-body">
                    <p>
                        {{ project_creation_form.name.label }} <br>
                        {{ project_creation_form.name(class_="form-control")}} <br>
                        {% for error in project_creation_form.name.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    <p>
                        {{ project_creation_form.submit(class_="btn btn-danger") }}
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>